<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>김성모 짤 생성기</title>
  <link rel="stylesheet" type="text/css" href="index.css">
</head>

<body>
  <h1 class="title">김성모 짤 생성기</h1>
  <p class="title">현재까지 생성된 총 말대꾸 개수: {{ count }}</p>

  <div>
    <form action="/generate", method='post'>
      <p>첫 번째 대사</p>
      <input id="first_dialogue" type="text" name="m1" maxlength="15">

      <p>두 번째 대사</p>
      <input id="second_dialogue" type="text" name="m2" maxlength="15">

      <input type='submit' value='짤 생성하기' />
    </form>
  </div>

  <div id="container">
    <!-- <img src="{{ src }}"> -->
    <img src="res/sungmo_origin.png">
    <div id='firstDialogueShow'>이지명이...</div>
    <div id='secondDialogueShow'>말대꾸?!</div>
  </div>

  <script type="text/javascript">
    const first_dialogue = document.getElementById('first_dialogue');
    const second_dialogue = document.getElementById('second_dialogue');

    /* first_dialogue.addEventListener('keyup', function(e) {
      document.getElementById('firstDialogueShow').innerHTML = first_dialogue.value;
    });

    second_dialogue.addEventListener('keyup', function(e) {
      document.getElementById('secondDialogueShow').innerHTML = second_dialogue.value;
    }); */
  </script>
</body>

</html>