@font-face {
  font-family: 'NanumGothic';
  src: url('res/NanumGothic.ttf');
}

body {
  font-family: 'NanumGothic', sans-serif;
}

.title {
  text-align: center;
}

#container {
  position: relative;
  width: 50%;
  height: 60%;
}

#container > img {
  width: 100%;
  height: 100%;
}

.dialogue {
  position: absolute;
  text-align: center;
  width: 100%;
  font-size: 24px;
  font-weight: 550;
  transform: translate(0, -50%);
  left: 0%;
}

#firstDialogueShow {
  top: 17%;
}

#secondDialogueShow {
  top: 82%;
}
